# Topics for the day 1
   - Introduction
   - Python basic to advanced
        - Numbers
        - Strings
        - Variables

## Numbers

In [63]:
2 + 3

5

In [64]:
6 * 7

42

In [65]:
# Float Division

7 / 3

2.3333333333333335

In [66]:
# Integer Division

7  // 3

2

In [67]:
# Taking Remainder 
7 % 3

1

## Strings

In [68]:
"Hello"

'Hello'

In [69]:
"World"

'World'

In [70]:
# String Concatenation
"Hello" + "World"

'HelloWorld'

## Print Function

In [71]:
print(2 +3)

5

In [72]:
print("Hello")
print("World")

Hello
World

In [73]:
print("Hello", end = " ")
print("World")

Hello World

In [74]:
print("Hello", "World", sep ="-")

Hello-World

## Variables and type checking of variables

In [75]:
x = 5

In [76]:
print(x)

5

In [77]:
print(type(x))

<class 'int'>

In [78]:
x = "Hello"

In [79]:
print(x)

Hello

In [80]:
print(type(x))

<class 'str'>

In [81]:
x = 5.7

In [82]:
print(x)

5.7

In [83]:
print(type(x))

<class 'float'>

## Type Converstion

In [84]:
x = 5 / 3

In [85]:
print(float(x))

1.6666666666666667

In [86]:
print(int(x))

1

## Escape Sequence

In [87]:
# "\n"
print("Hello \nWorld")

Hello
World

In [88]:
# "\t" stands for tab
print("Hello \tWorld")

Hello 	World

## Mutability

In [89]:
# it refers that the value can be changed or reassigned, and vice versa is Immutability

## Data type in python
     Basically we will be working with:
         - List
         - Dictionary
         - Tuple
         - Set

## List

In [90]:
# It is mutable data-type, it is defined as the collection of different types of elements.

example_list = []
example_lis1 = [1,2,3,4,5]

In [91]:
print(example_list, example_lis1)

[] [1, 2, 3, 4, 5]

In [92]:
example_lis1[2]

3

In [93]:
example_lis1[2] = 7

In [94]:
example_lis1

[1, 2, 7, 4, 5]

In [95]:
example_lis1.append(9)

In [96]:
example_lis1

[1, 2, 7, 4, 5, 9]

In [97]:
example_lis1.append("Hello")

In [98]:
example_lis1

[1, 2, 7, 4, 5, 9, 'Hello']

In [99]:
example_lis1.extend("hello")

In [100]:
example_lis1

[1, 2, 7, 4, 5, 9, 'Hello', 'h', 'e', 'l', 'l', 'o']

In [101]:
# Remove method deletes the element by value
example_lis1.remove(9)

In [102]:
example_lis1

[1, 2, 7, 4, 5, 'Hello', 'h', 'e', 'l', 'l', 'o']

In [105]:
# del method deletes the element by the indexing
del example_lis1[2]

In [106]:
example_lis1

[1, 2, 5, 'Hello', 'h', 'e', 'l', 'l', 'o']

In [107]:
a = example_lis1.pop(1)

In [108]:
a

2

In [109]:
example_lis1

[1, 5, 'Hello', 'h', 'e', 'l', 'l', 'o']

## Dictionary

In [110]:
# it is just a key-value pair.
# it is mutable type
dic = {}

In [111]:
dic[1] = "Hello"

In [112]:
dic

{1: 'Hello'}

In [113]:
dic[2] = "World"

In [114]:
dic

{1: 'Hello', 2: 'World'}

In [115]:
dic[1] = "Hello1"

In [116]:
dic

{1: 'Hello1', 2: 'World'}

In [118]:
print(dic.keys())

dict_keys([1, 2])

In [119]:
dic.values()

dict_values(['Hello1', 'World'])

In [121]:
dic.items

## Tuple

In [122]:
# It is Immutable.

example_tuple = ()
example_tuple1 = (1,2,3,4,5,6,7,8,9)

In [123]:
example_tuple1[3] = 10

TypeError: 'tuple' object does not support item assignment

## Set

In [130]:
# It is colelction of unique elements !
example_set = { "Hello", "Hi", "India", "India", "Bye"}

In [131]:
example_set

{'Bye', 'Hello', 'Hi', 'India'}

In [132]:
example_set[1] = "India"

TypeError: 'set' object does not support item assignment

## Conditional Logic

In [133]:
i = 7



if i == 2:
    print("Lower number")
    print("lower number")
    
elif i ==5:
    print("Desired number")
    
else:
    if i == 6:
        print("i = 6")
    else:
        print("Higher number")

Higher number

## Slicing

In [134]:
example_lis1

[1, 5, 'Hello', 'h', 'e', 'l', 'l', 'o']

In [135]:
example_lis1[ : 6 ]

[1, 5, 'Hello', 'h', 'e', 'l']

In [136]:
example_lis1[ : ]

[1, 5, 'Hello', 'h', 'e', 'l', 'l', 'o']

In [137]:
example_lis1[-1]

'o'

In [138]:
example_lis1[ : -1]

[1, 5, 'Hello', 'h', 'e', 'l', 'l']

In [139]:
example_lis1[ :: -1]

['o', 'l', 'l', 'e', 'h', 'Hello', 5, 1]

## Predefined function

In [140]:
len(example_lis1)

8

In [141]:
abs(5), abs(-5)

(5, 5)

In [142]:
float(1)

1.0

In [143]:
int(5.3)

5

In [144]:
l = [ 4,1,7,5,6.6,5]

a = sorted(l)

In [145]:
a,l

([1, 4, 5, 5, 6.6, 7], [4, 1, 7, 5, 6.6, 5])

In [146]:
l

[4, 1, 7, 5, 6.6, 5]

In [149]:
l.sort()

In [150]:
l

[1, 4, 5, 5, 6.6, 7]

## Creating custom function

In [151]:
# without Parameters 
def display():
    print("Day 1 of the data science training!!")

In [152]:
display()

Day 1 of the data science training!!

In [159]:
# with parameters
def add(a, b, c):
    print(a + b + c)

In [161]:
x = add(2,3,4)

9

In [163]:
add(1,2,3)

6

In [164]:
# return statement example
def add1(a, b):
    return a + b

In [165]:
x = add1(1, 2)

In [166]:
print(x)

3

## Global Keywords

In [168]:
# it is used to provide the access of any variable from anywhere in the programe!

In [170]:
i = 2 

def x():
    global i 
    print(i)

In [171]:
x()

2